.row {
    margin-right: 0;
    margin-left: 0;
    table {
        max-width: 720px;
        tbody {
            td {
                a {
                    &:hover {
                        text-decoration:underline #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}